.root {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;

  .item,
  .controller {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 36px;
    height: 36px;
    padding: 6px;

    background-color: transparent;
    border: 1px solid var(--color-gray-300);
    border-radius: 4px;

    transition:
      color 0.2s ease,
      background-color 0.2s ease;

    &:disabled {
      cursor: auto;
      color: var(--color-gray-300);
    }

    &:focus-visible {
      border: 1px solid var(--color-accent-500);
      outline: 2px solid var(--color-accent-200);
    }
  }

  .item:hover:not(:disabled),
  .controller:hover:not(:disabled) {
    color: var(--color-accent-400);
    background: var(--color-accent-50);
    border: 1px solid var(--color-accent-400);
  }

  .item:active:not(:disabled),
  .controller:active:not(:disabled) {
    color: var(--color-accent-600);
    background: var(--color-accent-300);
    border: 1px solid var(--color-accent-600);
  }

  .item:not(:disabled).activeItem {
    color: var(--color-accent-500);
    border: 1px solid var(--color-accent-500);
  }

  .dots {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 36px;
    height: 36px;
  }
}

.disabledDots {
  color: var(--color-gray-300);
}
