.pageContainer {
  margin: 1% 5% 5%;
  transition: opacity 0.5s;
}

.title {
  &Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 2%;
    margin-bottom: 0.5%;
    padding: 2%;

    background: #4b4b4b;
    border-radius: 10px;
  }

  &Name {
    margin: 0 auto;
    color: aliceblue;
  }
}

.history {
  &Container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    list-style: none;
  }

  &Item {
    cursor: pointer;

    margin: 0;
    padding: 0 0 0 10%;

    color: aliceblue;

    background: #4b4b4b;

    &:first-child {
      border-radius: 0 0 10px 10px;
    }

    &:last-child {
      border-radius: 10px 10px 0 0;
    }

    &:hover {
      opacity: 0.7;
    }

    &Link {
      display: block;
      text-decoration: none;
    }
  }
}
