.character {
  &-page {
    margin: 0;
    font-family: system-ui;
    overflow-x: hidden;
  }
  &-content-conteiner {
    max-width: 1440px;
    margin: 0 auto;
  }
  &-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-name {
    position: relative;
    font-size: 30px;
    & h2:after {
      content: '';
      width: 87px;
      height: 6px;
      background-color: #f7391c;
      display: inline-flex;
      position: absolute;
      left: calc(100% + 5px);
      top: 50%;
    }
  }
  &-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-image {
    max-width: 100%;
    border-radius: 50%;
  }
  &-labels {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
