:root {
  // accent
  --color-accent-50: #bfe1fc;
  --color-accent-100: #a4d4fa;
  --color-accent-200: #8dc9f9;
  --color-accent-300: #71bcf7;
  --color-accent-400: #4dabf5;
  --color-accent-500: #2196f3;
  --color-accent-600: #1a78c2;
  --color-accent-700: #15609b;
  --color-accent-800: #114d7c;
  --color-accent-900: #0e3e63;

  // danger
  --color-danger-50: #fcdcbf;
  --color-danger-100: #facda4;
  --color-danger-200: #f9c18d;
  --color-danger-300: #f7b171;
  --color-danger-400: #f59e4e;
  --color-danger-500: #f28622;
  --color-danger-600: #c26b1b;
  --color-danger-700: #9b5616;
  --color-danger-800: #7c4512;
  --color-danger-900: #63370e;

  // error
  --color-error-50: #fcbfd1;
  --color-error-100: #faa4bd;
  --color-error-200: #f98dad;
  --color-error-300: #f77199;
  --color-error-400: #f54e80;
  --color-error-500: #f22260;
  --color-error-600: #a91843;
  --color-error-700: #76112f;
  --color-error-800: #530c21;
  --color-error-900: #3a0817;

  // green
  --color-green-50: #bffcdf;
  --color-green-100: #a4fad1;
  --color-green-200: #8df9c5;
  --color-green-300: #71f7b7;
  --color-green-400: #4ef5a5;
  --color-green-500: #22f28e;
  --color-green-600: #1bc272;
  --color-green-700: #169b5b;
  --color-green-800: #127c49;
  --color-green-900: #0e633a;

  // gray
  --color-gray-50: #f4f4f4;
  --color-gray-100: #e4e4e4;
  --color-gray-200: #ddd;
  --color-gray-300: #d5d5d5;
  --color-gray-400: #cacaca;
  --color-gray-500: #bdbdbd;
  --color-gray-600: #848484;
  --color-gray-700: #5c5c5c;
  --color-gray-800: #404040;
  --color-gray-900: #2d2d2d;

  // light
  --color-light-500: #fff;

  // dark
  --color-dark-500: #212121;
}
