.character-label {
  background: #685128;
  padding: 1em;
  width: 36%;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  border-radius: 10px;
  text-align: left;
  font-size: 25px;
  font-weight: 400;
}