.page {
  &__section {
    width: 100%;

    &_search {
      display: flex;
      justify-content: center;

      background-image: url('../../assets/background/search.jpg');
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;

      padding: 8vw 0;
    }
  }

  &__container {
    display: flex;
    width: 100%;
  }

  &__search {
    margin: 0 auto;
  }

  &__button {
    position: fixed;
    bottom: 30px;
    left: 50vw;

    transform: translateX(-50%);

    z-index: 2;
  }
}
