.header {
  position: relative;
  z-index: 5;

  height: 70px;
  padding: 5px;

  background: #171717;
  border-bottom: 1px solid #333;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
}

.logo {
  width: 240px;
  height: 60px;
  padding-left: 15px;
}

.button {
  margin-right: 16px;

  a {
    text-decoration: none;
  }
}

.avatar {
  margin-right: 38px;
}

.storybook {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nameAndAvatar {
  display: flex;
  align-items: center;
}

.name {
  margin-right: 10px;
  color: var(--color-light-500);
  border-bottom: 1px dashed var(--color-light-500);
}

.link {
  text-decoration: none;
}

.liner {
  position: absolute;
  top: -10px;
  left: -5px;
}
