.character {
  padding: 0 70px;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    column-gap: 20px;
    row-gap: 38px;

    padding: 80px 0 0;
    border-top: 1px solid #424242;
    box-sizing: border-box;
    
    min-height: calc(100vh - 638px);
  }
}

@media screen and (max-width: 1090px) {
  .character {
    padding: 0 30px;

    &__list {
      gap: 30px;
      min-height: calc(100vh - 673px);
    }
  }
}

@media screen and (max-width: 520px) {
  .character {
    padding: 0 10px;

    &__list {
      gap: 34px;
      min-height: calc(100vh - 746px);

      margin: 50px 0 0;
    }
  }
}