.placeholder {
  &-conteiner {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  &-name {
    color: rgba(0, 0, 0, 0.1);
    font-size: 600px;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 1;
    white-space: nowrap;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
}
